In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("AAT_Veloce_Nightslogs_24A_24B_25A_25B_01 - StellarTwins_MH_-0.8.csv")

In [17]:
# Combine RA columns into single string with ":" separator
df['RA'] = df['RA'].astype(str) + ':' + df['Unnamed: 2'].astype(str) + ':' + df['Unnamed: 3'].astype(str)

# Combine Dec columns into single string with ":" separator
df['Dec'] = df['Dec'].astype(str) + ':' + df['Unnamed: 5'].astype(str) + ':' + df['Unnamed: 6'].astype(str)

df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 6'], inplace=True)
df.to_csv("AAT_Veloce_Nightslogs_24A_24B_25A_25B_01 - StellarTwins_MH_-0.8_fixed.csv", index=False)

In [18]:
df.head()

,Object_ID,RA,Dec,BP,RP,2,15,Details GSPPhot,teff_gspspec,logg_gspspec,mh_gspspec,Date,ExtraDate,CCD1,CCD2,CCD3,Unnamed: 20
0,5000840365029995776,0:48:4.42,-37:29:48.51,9.6,8.5,0,1,NaN,4717,2.27,-0.77,251105.0,251106,53.0,167.0,433.0,2nd exposure 251106 1500s
1,2534501059394102016,1:11:51.09,0:26:42.88,8.6,7.5,0,0,NaN,4954,2.16,-0.84,NaN,NaN,NaN,NaN,NaN,NaN
2,2786872856670678016,1:15:14.29,19:49:26.83,10.1,8.9,0,0,NaN,4815,2.26,-0.76,NaN,NaN,NaN,NaN,NaN,NaN
3,4960668814357088256,1:39:9.09,-39:25:59.48,9.7,8.6,0,1,NaN,4848,2.33,-0.76,251109.0,NaN,47.0,145.0,341.0,NaN
4,297487409359766784,1:55:34.56,26:6:50.25,8.4,7.2,0,0,NaN,4809,2.26,-0.83,NaN,NaN,NaN,NaN,NaN,NaN